/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

h2 {
    color: #1e90ff;
    font-size: 2rem;
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 10px;
    margin-top: 40px;
}

.team-member h3 {
    font-size: 1.5rem;
    color: #333;
}

.team-member p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 1rem;
}

p, ul {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }
  

/* Section Specific Styles */
.intro-section, .vision-section, .what-we-do-section, .cta-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.who-we-are-section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}
.heading{
    text-align: center;
}